.popup__name {
  margin: 70px 0 0;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

@media (min-width: 1024px) {
  .popup__name {
    margin: 43px 0 0;
  }
}
